/Assets/Skyboxes
/Assets/Epic Toon FX
/Assets/Fantasy Adventure Environment
/Assets/Feel
/Assets/PolygonFarm/Models
/Assets/PolygonFarm/Prefabs
/Assets/PolygonFarm/Textures
/Assets/GUI PRO Kit - Casual Game/PSD
/Assets/Samples
/Library
/obj
/Logs
/Temp
Town.apk
*.apk

com.jbooth.microsplat.core
com.jbooth.microsplat.global-texture
Documentation
MicroSplatData
com.jbooth.microsplat.urp2020
