/Assets/Skyboxes
/Assets/Epic Toon FX
/Assets/Fantasy Adventure Environment
/Assets/Feel
/Assets/PolygonFarm/Models
/Assets/PolygonFarm/Prefabs
/Assets/PolygonFarm/Textures
/Library
/obj
/Logs
/Temp
Town.apk
*.apk